.idea
~*.xlsx
/data
.cache
.ipynb_checkpoints/
__pycache__/
*.pyc
color_planet_experiment
taming-transformers/
latent_diffusion/
image_prompts/
guided-diffusion/
content/
config_files/
CLIP/
Parameter Explanations Old.xlsx/
progress.png
queueing notes.txt


